{% block body %}
<a href="/mngApp/new/">登録</a>
  <form method="post" action="">
    <table border="1">
      <thead>
        <tr>
          <th>message</th>
          <th>created_at</th>
          <th>updated_at</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.message }}</td>
            <td>{{ message.created_at }}</td>
            <td>{{ message.updated_at }}</td>
            <td><a href="{% url 'delete' id=message.id %}" class="btn btn-primary btn-sm" id="btn_del">削除</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}